<!DOCTYPE hmtl>
<html>
  <head>
  </head>
  <body>

    <h1>Add Employee</h1>

    <form method="POST" action="/employees/add">
      <label for="name">Name:</label>
      <br><br>
      <input type="text" name="name">
      <br><br>
      <label for="age">Age:</label>
      <br><br>
      <input type="text" name="age">
      <br><br>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
